@property --default-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CCAACC;
}
@property --default-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CCAACC;
}
@property --default-hover-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CC66CC;
}
@property --default-hover-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CC66CC;
}
@property --section-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CCAACC;
}
@property --section-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CCAACC;
}

#button-text {
  height: 3rem;
  width: 13vw;
  font: inherit;
  font-size: 80%;
  background-color: transparent;
  border-width: 0.4em;
  border-color: var(--default-button-border-color);
  border-style: solid;
  font-weight: bolder;
  color: var(--default-button-text-color);
  text-transform: uppercase;
  border-radius: 10px;
}

#button-text:hover {
  color: var(--default-hover-button-text-color);
  border-color: var(--default-hover-button-border-color);
  border-radius: 15px;
  animation: 0.35s button-text-hover;
}

@keyframes button-text-hover {
  from {
    border-radius: 10px;
    color: var(--default-button-text-color);
    border-color: var(--default-button-border-color);
  }

  to {
    border-radius: 15px;
    color: var(--default-hover-button-text-color);
    border-color: var(--default-hover-button-border-color);
  }
}

#button-connect {
  height: 3rem;
  width: 13vw;
  font: inherit;
  font-size: 80%;
  background-color: transparent;
  border-width: 0.55em;
  border-color: var(--default-button-border-color);
  color: var(--default-button-text-color);
  border-style: solid;
  font-weight: bolder;
  border-radius: 10px 0px 10px 0px;
}

#button-connect:hover {
  color: var(--default-hover-button-text-color);
  border-color: var(--default-hover-button-border-color);
  border-radius: 15px 0px 15px 0px;
  animation: 0.35s button-connect-hover;
}

@keyframes button-connect-hover {
  from {
    border-radius: 10px 0px 10px 0px;
    color: var(--default-button-text-color);
    border-color: var(--default-button-border-color);
  }

  to {
    border-radius: 15px 0px 15px 0px;
    color: var(--default-hover-button-text-color);
    border-color: var(--default-hover-button-border-color);
  }
}

#button-socials {
  width: 2.5vw;
  aspect-ratio: 1 / 1;
  font: inherit;
  border: none;
  font-size: 80%;
  background-color: var(--default-button-text-color);
  border-radius: 3px 3px 3px 3px;
}

#button-image {
  width: 8vw;
  height: 8vw;
  aspect-ratio: 1 / 1;
  font: inherit;
  border: none;
  font-size: 80%;
  background-color: transparent;
  border-width: 0.4em;
  border-color: var(--default-button-border-color);
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

#button-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#button-image:hover {
  color: var(--default-hover-button-text-color);
  border-color: var(--default-hover-button-border-color);
  border-radius: 15px 15px 15px 15px;
  animation: 0.35s button-image-hover;
}

@keyframes button-image-hover {
  from {
    border-radius: 10px 10px 10px 10px;
    color: var(--default-button-text-color);
    border-color: var(--default-button-border-color);
  }

  to {
    border-radius: 15px 15px 15px 15px;
    color: var(--default-hover-button-text-color);
    border-color: var(--default-hover-button-border-color);
  }
}

#button-logo {
  aspect-ratio: 1 / 1;
  font: inherit;
  border: none;
  font-size: 80%;
  background-color: transparent;
  width: 5%;
}

#button-logo img {
  pointer-events: none;
}

#menu-side {
  margin: 2.5rem 0 0 2.5%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
  width: 5vw;
}

#section-left {
  margin: 1rem 0 0 2.5%;
  border-width: 0.4em;
  border-color: var(--section-border-color);
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  width: 40vw;
  height: 75vh;
}

#section-left menu {
  margin: 1rem 0 0 5%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#section-right {
  margin: 1rem 0 0 2.5%;
  border-width: 0.4em;
  border-color: var(--section-border-color);
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  width: 40vw;
  height: 75vh;
}

#menu-footer {
  margin: 1rem 0 0 10vw;
  padding: 0;
  display: flex;
  gap: 0.5vw;
  width: 85vw;
}

#button-output {
  text-align: center;
  font: inherit;
  font-size: 80%;
  background-color: transparent;
  border-width: 0.4em;
  border-color: var(--default-button-border-color);
  color: var(--default-button-text-color);
  border-style: solid;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  padding: 0.75rem;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin: 2.5% 0 0 2.5%;
  border-width: 0.1em;
  border-color: transparent;
  border-style: solid;
  align-items: center;
}

#chat div {
  width: 100%;
  height: 90%;
}

#chat input {
  width: 95%;
  height: 7%;
  background-color: transparent;
  border-width: 0.4em;
  border-color: var(--section-border-color);
  border-style: solid;
  font-weight: bold;
  border-radius: 7px;
}

.head-section {
  width: 95%;
  height: calc(100% - 8rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-head {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
