@property --default-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #330066;
}

@property --default-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --default-hover-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #995599;
  ;
}

@property --default-hover-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #AA99AA;
}

@property --section-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #330066;
}

@property --default-pressed-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #771177;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #090b16;
}

@property --button-background {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(145deg, #565970, #46495e);
}

.button {
  font: inherit;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
}

.label {
  text-align: center;
  background-color: transparent;
  color: var(--default-button-text-color);
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label-underscore {
  height: 1rem;
  background: transparent;
  text-transform: uppercase;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  text-decoration: underline;
}

.button-text {
  height: 3rem;
  background: var(--button-background);
  text-transform: uppercase;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.button-text:hover {
  filter: brightness(120%);
}

.text-shake:active {
  animation: textShake 0.2s;
}

@keyframes textShake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }
}

@keyframes textBlur {

  0%,
  100% {
    filter: blur(0px);
  }

  50% {
    filter: blur(1px);
  }
}

.text-blur:active {
  animation: textBlur 0.2s;
}

.fixed-size {
  width: 13vw;
}

.dynamic-size {
  padding: 0.65rem;
}

.button-connect {
  height: 3rem;
  background: linear-gradient(145deg, #ab9ff2, #9b8fde);
}

.disconnect {
  background: linear-gradient(145deg, #ab1990, #9b1956);
}

.button-connect:hover {
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

.button-socials {
  width: 5vw;
  height: 5vw;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 10px;
  background-color: #0a0c17;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.button-socials img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.telegram:hover {
  background-color: #3ba4d4;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.x:hover {
  background-color: #868686;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.dex:hover {
  background-color: #888888;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.pump:hover {
  background-color: #5ad298;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.button-image {
  width: 7vw;
  height: 7vw;
  aspect-ratio: 1 / 1;
  border-width: 0.3em;
  border-style: solid;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0;
  transition:
    border-radius 0.35s,
    background-color 0.35s,
    border-color 0.35s,
    box-shadow 0.35s;
}

.button-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-image:hover {
  border-color: var(--default-hover-button-border-color);
  box-shadow: 0 0 20px var(--default-hover-button-border-color);
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    border-color 0.35s,
    box-shadow 0.35s;
}

.default {
  border-color: var(--default-button-border-color);
}

.active {
  --angle: 0deg;
  position: relative;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient(var(--background-color), var(--background-color)),
    conic-gradient(from var(--angle),
      var(--default-pressed-button-border-color),
      var(--default-hover-button-border-color),
      var(--default-pressed-button-border-color));
  border-color: transparent;
  animation: borderRotate 3s linear infinite;
}

@keyframes borderRotate {
  to {
    --angle: 360deg;
  }
}

.button-logo {
  aspect-ratio: 1 / 1;
  border: none;
  background-color: transparent;
  width: 5%;
  height: 85%;
}

.button-logo img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-side {
  border-radius: 10px;
  margin: 2.5rem 0 0 2.5vw;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(1, 1fr);
  gap: 9.7vh;
  width: calc(10vw - 2.5vw);
  z-index: 1;
}

.in-burger {
  margin: 1rem 0px;
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.menu-burger {
  padding: 3%;
  background-color: white;
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-items: stretch;
  border-color: var(--section-border-color);
  border-width: 0.4em;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 3% 0px 0px 24%;
  transition: margin 0.4s ease;
}

.rounded-cross {
  justify-self: end;
  grid-column: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

.cross-icon {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-line {
  position: absolute;
  width: 2px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  transform-origin: center;
}

.cross-line.line-1 {
  transform: rotate(45deg);
}

.cross-line.line-2 {
  transform: rotate(-45deg);
}

.burger-line {
  position: absolute;
  width: 1px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  transform-origin: center;
}

.rounded-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

.burger-icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-line.line-1 {
  transform: rotate(90deg);
  margin-top: -14px;
}

.burger-line.line-2 {
  transform: rotate(90deg);
}

.burger-line.line-3 {
  transform: rotate(90deg);
  margin-top: 14px;
}

#section-left {
  margin: 1rem 0 0 10vw;
  border-style: solid;
  border-radius: 10px;
  width: 40vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  border-color: var(--section-border-color);
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

#section-left div {
  margin: 1rem;
  display: flex;
  gap: 2rem;
/*   grid-template-columns: repeat(4, 1fr); */
}

#section-right {
  margin: 1rem 0 0 2.5%;
  border-style: solid;
  border-radius: 10px;
  width: 40vw;
  height: 75vh;
  border-color: var(--section-border-color);
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

#section-left, #section-right {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#menu-footer {
  margin: 1rem 0 0 10vw;
  padding: 0px;
  display: flex;
  gap: 0.5vw;
  width: 85vw;
}

.button-output {
  text-align: center;
  background-color: #1b091e;
  border-width: 0.4em;
  border-style: solid;
  border-radius: 10px;
  border-color: #330066;
  box-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: var(--default-button-text-color);
  font-weight: bold;
  padding: 0.75rem;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.head-section {
  width: 100%;
  height: calc(100% - 10vh);
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  margin: 1rem;
}

.big-head {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  margin: 0;
  z-index: 0;
  align-self: center;
  justify-self: center;
  object-fit: contain;
  position: absolute;
}

.relative {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  #section-left, #section-right {
    width: 90vw;
    margin: 1rem auto;
    min-height: 50vh;
  }

  #menu-footer {
    margin: 1rem 0px 0px 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .head-section {
    height: calc(100% - 5rem);
  }

  .relative {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .button-logo {
    width: 70px;
  }
  .menu-side {
    width: 100%;
  }
}

@media (max-width: 450px) {
  #section-left, #section-right {
    height: 35vh;
  }
  #section-left div {
    gap: 1rem;
  }
  .button-image {
    width: 12vh;
    height: 12vh;
  }
  .menu-side {
    gap: 0.5rem;
  }
}

@media (max-width: 375px) {
  .button {
    font-size: 11px;
  }
  .button-logo {
    width: 60px;
  }
}
