@property --default-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #330066;
}

@property --default-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --default-hover-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #995599;
  ;
}

@property --default-hover-button-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #AA99AA;
}

@property --section-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #330066;
}

@property --section-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --default-pressed-button-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #771177;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #090b16;
}

@property --button-background {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(145deg, #565970, #46495e);
}

@property --connect-button-background {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(145deg, #ab9ff1, #9b8fde);
}

@media (max-width: 768px) {
  .menu-side {
    width: 50vw;
    height: auto;
    margin: 0 auto;
    gap: 2vh;
    padding: 1rem 0;
  }

  .button-socials {
    width: 12vw;
    height: 12vw;
  }
}

.button {
  font: inherit;
  font-size: 80%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Nunito', sans-serif;
}

.button-text {
  height: 3rem;
  background: var(--button-background);
  text-transform: uppercase;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.button-text:hover {
  filter: brightness(120%);
}

.text-shake:active {
  animation: textShake 0.2s;
}

@keyframes textShake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }
}

@keyframes textBlur {

  0%,
  100% {
    filter: blur(0px);
  }

  50% {
    filter: blur(1px);
  }
}

.text-blur:active {
  animation: textBlur 0.2s;
}

.fixed-size {
  width: 13vw;
}

.dynamic-size {
  padding: 0.65rem;
}

.button-connect {
  height: 3rem;
  background: var(--connect-button-background);
}

.button-connect:hover {
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

.button-socials {
  width: 5vw;
  height: 5vw;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 10px;
  background-color: #0a0c17;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.button-socials img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.telegram:hover {
  background-color: #3ba4d4;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.x:hover {
  background-color: #868686;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.dex:hover {
  background-color: #888888;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.pump:hover {
  background-color: #5ad298;
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    background-color 0.35s;
}

.button-image {
  width: 8vw;
  height: 8vw;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-width: 0.4em;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  transition:
    border-color 0.35s,
    border-radius 0.35s;
}

.default {
  border-color: var(--default-button-border-color);
}

.active {
  --angle: 0deg;
  position: relative;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient(var(--background-color), var(--background-color)),
    conic-gradient(from var(--angle),
      var(--default-pressed-button-border-color),
      var(--default-hover-button-border-color),
      var(--default-pressed-button-border-color));
  border-color: transparent;
  animation: borderRotate 3s linear infinite;
}

@keyframes borderRotate {
  to {
    --angle: 360deg;
  }
}

.button-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-image:hover {
  color: var(--default-hover-button-text-color);
  border-color: var(--default-hover-button-border-color);
  border-radius: 15px;
  transition:
    border-radius 0.35s,
    color 0.35s,
    border-color 0.35s;
}

.button-logo {
  aspect-ratio: 1 / 1;
  border: none;
  background-color: transparent;
  width: 5%;
  height: 85%;
}

.button-logo img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-side {
  border-radius: 10px;
  margin: 2.5rem 0 0 2.5%;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(1, 1fr);
  gap: 9.7vh;
  width: 5vw;
  z-index: 1;
}

#section-left {
  margin: 1rem 0 0 10vw;
  border-style: solid;
  border-radius: 10px;
  width: 40vw;
  height: 75vh;
  border-color: var(--section-border-color);
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

#section-left menu {
  margin: 1rem 0 0 5%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#section-right {
  margin: 1rem 0 0 2.5%;
  border-style: solid;
  border-radius: 10px;
  width: 40vw;
  height: 75vh;
  border-color: var(--section-border-color);
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
}

.background {
  position: absolute;
  z-index: -1;
  width: 40vw;
  height: 75vh;
  object-fit: cover;
}

#menu-footer {
  margin: 1rem 0 0 10vw;
  padding: 0;
  display: flex;
  gap: 0.5vw;
  width: 85vw;
}

.button-output {
  text-align: center;
  font: inherit;
  font-size: 80%;
  background-color: #1b091e;
  border-width: 0.4em;
  border-style: solid;
  border-radius: 10px;
  border-color: #330066;
  box-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: var(--default-button-text-color);
  font-weight: bold;
  padding: 0.75rem;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.head-section {
  width: 95%;
  height: calc(100% - 8rem);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.big-head {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  margin: 0;
  z-index: 0;
  object-fit: contain;
  position: absolute;
}

.relative {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}